{{ with .Site.Data.hero }}
  {{ if .enable }}
    <section class="hero" id="hero">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="hero-content">
              <span class="hero-content-subtitle"> {{ .caption }} </span>
              <h1> {{ .title }} </h1>
              <p> {{ .description }} </p>
              <ul class="hero-content-buttons">
                <li>
                  <a href="{{ .shopeeURL }}" class="btn-platform">
                    <i>
                      <img src={{ .shopee }} alt="Shopee" width="40" height="40"/>
                    </i>
                    <div class="btn-platform-area">
                      <span> {{ .buttonName }} </span>
                      {{ .button1text }}
                    </div>
                  </a>
                </li>
                <li>
                  <a href="{{ .tokopediaURL }}" class="btn-platform">
                    <i>
                      <img src="{{ .tokopedia }}" alt="Tokopedia" width="40" height="40"/>
                    </i>
                    <div class="btn-platform-area">
                      <span> {{ .buttonName }} </span>
                      {{ .button2text }}
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="hero-image">
              <img src={{ .image }} alt="hero-img" />
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}